
<ion-header>
  
    <ion-navbar>
      <ion-title center>Connectez Vous</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <form *ngIf="formLoginVisible" [formGroup]="userForm" (ngSubmit)="onConect()" >
      <br>
      <ion-list>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
  
      <div padding center>
        <button offset-4 col-4 type="submit" ion-button center>Go</button>
        <br><br>
        <button offset-1 col-10 [navPush]="rootRegisterPage" ion-button style="Background-color:green"> Créer un compte </button>
      </div>
  
    </form>
  </ion-content>
